* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --height-header: 80px;
}
/* @import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap"); */

html {
    font-family: "Oswald", sans-serif;
    color: white;
}

.container {
    width: 90%;
    max-width: 75%;
    margin: 0 auto;
}

.heading-1 {
    font-size: 14px;
    color: #e62b4a;
    font-weight: 400;
}

.heading-2 {
    font-size: 50px;
    font-weight: 400;
    margin: 15px 0 30px 0;
    color: black;
}

.heading-3 {
    font-size: 16px;
    color: #888888;
    font-weight: 600;
    color: #888888;
    width: 40%;
    margin: 0 auto;
}

/* HEADER
=========================================== */
.header_section {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}

.header {
    height: var(--height-header);
    /* đưa item lên trục chính */
    display: flex;

    /* trục chính */
    justify-content: space-between;
    /* trục phụ */
    align-items: center;
}

.header nav a {
    text-decoration: none;
    color: white;
    margin-right: 10px;
    text-transform: uppercase;
    font-size: 17px;
    transition: all 0.5s;
}

.header nav a:hover {
    color: #e62b4a;
}

.header .logo {
    font-size: 24px;
    font-weight: 700;
}

.header .logo a {
    text-decoration: none;
    color: white;
    font-size: 2rem;
    font-weight: 700;
    display: flex;
    align-items: center;
    gap: 10px;
}

.header ul {
    display: flex;
    gap: 50px;
    list-style: none;
}

.header .active a {
    color: #e62b4a;
}
/* ===========================================
END HEADER */

/* BANNER
=========================================== */
.banner {
    background-image: linear-gradient(
            to right,
            rgba(0, 0, 0, 0.319),
            rgba(0, 0, 0, 0.248)
        ),
        url(./img/home_slider.jpg);
    height: 90vh;
    min-height: 500px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

    display: flex;
    justify-content: center;
    align-items: center;
    padding: calc(100px + var(--height-header)) 0 100px;
}

.banner__container {
    text-align: center;
    color: white;
}

.banner__container p {
    font-size: 18px;
}

.banner__container h2 {
    font-size: 70px;
    font-weight: 700;
    margin: 30px 0;
}

.banner__container button {
    padding: 20px 40px;
    color: white;
    text-transform: uppercase;
    background-color: #e62b4a;
    cursor: pointer;
    font-size: 16px;
    transition: 0.3s;
    border: 1px solid #e62b4a;
}

.banner__container button:hover {
    background-color: #af2239;
}

.banner__container i {
    font-size: 50px;
    animation-name: upToDown;
    animation-duration: 1s;
    animation-iteration-count: infinite;
}

/* CAROUSEL
=========================================== */
.carousel {
    padding: 100px 0 100px 0;
    color: white;
    background-color: rgb(0, 0, 0);
}

.carousel__title {
    text-align: center;
    margin-bottom: 20px;
}

.carousel__title h2 {
    color: white;
}

.carousel__list {
    /* outline: 1px solid red; */
    padding: 20px;
}

.carousel__item {
    /* outline: 2px solid green; */
    padding: 0 10px;
}

.item__content {
    /* outline: 2px solid yellow; */
    background-color: white;
    color: #8888;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* padding: 100px 0; */
    height: 230px;
    position: relative;
}

.item__content i {
    font-size: 50px;
    color: #888888;
}

.item__content::after {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    width: 5px;
    height: 0;
    background-color: #e62b4a;
    transition: all 0.3s;
}

.item__content:hover::after {
    height: 100%;
}

.item__content p {
    text-align: center;
    width: 100%;
}

.slick-dots li button:before {
    color: #888888;
    font-size: 14px;
}

.slick-dots li.slick-active button:before {
    color: #e62b4a;
}

.slick-dots li button:hover:before,
.slick-dots li button:focus:before {
    opacity: 1;
    color: #ffffff;
}

/* BLOGS
=========================================== */
.blogs {
    padding: 100px 0;
    background-color: #f3f3f3;
}

.blogs__title {
    text-align: center;
    margin-bottom: 50px;
}

.blogs__title h3 {
    color: #888888;
}

.blogs__item img {
    width: 100%;
    height: 100%;
    display: block;
    filter: grayscale(50%) contrast(50%);
}

.blogs__list {
    display: grid;
    /* grid-template-columns: 1fr 1fr 1fr 1fr; */
    grid-template-columns: repeat(4, 1fr);
    gap: 30px;
}

.blogs__item:nth-child(1) {
    grid-column: span 2;
    grid-row: span 2;
}

.blogs__item:nth-child(10) {
    grid-column: 3/ 5;
    grid-row: 3 /5;
}

.blogs__item {
    position: relative;
}

.blogs__overplay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(230, 43, 74, 0.6);
    opacity: 0;
    transition: all 0.8s;
}

.blogs__content {
    position: absolute;
    bottom: 20px;
    left: 20px;
    color: white;
}

.blogs__icon {
    position: absolute;
    top: 20px;
    right: 20px;
    background-color: white;
    font-size: 14px;
    width: 35px;
    height: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.blogs__icon:hover {
    background-color: #000;
}

.blogs__icon:hover i {
    color: #ffff;
    background-color: #000;
}

.blogs__icon i {
    background-color: #ffffff;
    font-size: 14px;
    color: #000;
}

.blogs__content,
.blogs__icon,
.blogs__icon i {
    transition: all 0.8s;
}

.blogs__overplay .blogs__icon,
.blogs__overplay .blogs__content {
    transform: translateY(100px);
    opacity: 0;
}

.blogs__item:hover .blogs__overplay {
    opacity: 1;
}

.blogs__item:hover .blogs__icon,
.blogs__item:hover .blogs__content {
    transform: translateY(0);
    opacity: 1;
}

/* NUMBER
=========================================== */
.number-section {
    background-color: black;
    color: white;
    text-align: center;
    padding: 100px 0;
}

.number {
    display: flex;
    justify-content: space-evenly;
}

.number_counter {
    font-size: 60px;
    font-weight: 300;
}

.number-text {
    font-size: 20px;
    color: #888888;
}

/* EXPERIENCE
=========================================== */
.experience-section {
    padding: 100px 0;
    background-image: url(./img/bussiness_img_1.jpg);
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
.experience__title {
    text-align: center;
    margin-bottom: 50px;
}

.experience__title h2 {
    color: white;
}

.experience__video video {
    width: 100%;
}

/* CONTACT
=========================================== */
.contact-section {
    padding: 100px 0;
}

.contact__title {
    margin-bottom: 50px;
    text-align: center;
}

.contact__content {
    display: grid;
    grid-template-columns: 0.6fr 0.4fr;
    gap: 30px;
}

.contact__map iframe {
    width: 100%;
    height: 100%;
}

.contact__form {
    /* outline: 2px solid green; */
    display: flex;
    flex-direction: column;
    gap: 30px;
    justify-content: space-between;
}

.contact__form input,
.contact__form button,
.contact__form textarea {
    padding: 20px;
    border-radius: 2px;
}

.contact__form textarea {
    resize: vertical;
}
.contact__form button {
    background-color: black;
    color: white;
    transition: all 0.3s;
    cursor: pointer;

    border: 1px solid black;
    letter-spacing: 1px;
    cursor: pointer;
    text-transform: uppercase;
}

.contact__form button:hover {
    background-color: #e62b4a;
    border-color: #e62b4a;
}

/* FOOTER
=========================================== */
.footer-section {
    background-color: black;
    padding: 100px 0;
}

.footer {
    display: flex;
    justify-content: space-between;
}

.footer p {
    font-size: 14px;
}

.footer_isocal {
    display: flex;
    gap: 10px;
}

.footer_isocal a {
    width: 54px;
    height: 54px;
    border-radius: 50%;
    background-color: rgba(255, 255, 255, 0.2);
    font-size: 16px;
    text-decoration: none;
    color: #ffffff;
    transition: all 0.5s;

    display: flex;
    justify-content: center;
    align-items: center;
}

.footer_isocal a:hover {
    background-color: #e62b4a;
}

/* BACK TO TOP */
/*=========================================== */

.backToTop {
    width: 60px;
    height: 60px;
    line-height: 60px;
    border-radius: 4px;
    text-align: center;
    background: rgba(0, 0, 0, 0.25);
    font-weight: bold;
    color: #fff;
    position: fixed;
    bottom: 110%;
    right: 2rem;
    font-size: 20px;
    transition: all 1s cubic-bezier(0.17, 1.49, 0.28, 0.98);
    z-index: 999;
}

.backToTop.showbtt {
    bottom: 2rem;
}

@keyframes upToDown {
    0% {
        transform: translateY(0px);
        opacity: 1;
    }
    100% {
        transform: translateY(100px);
        opacity: 0;
    }
}
/* ===========================================
END BANNER */
